.text-title{
  font-family: 'Montserrat', sans-serif;
}

.jumbotron, .jumbotron-fluid{
  padding-bottom: 0.1rem;
  margin-bottom: 1rem;
}

.card-padding
{
  padding-top: 20px;
}

  p > a {
    color: #1a559d;
    text-decoration: underline;
    &:hover {
      color: #000000;
    }
  }

.centered {
    text-align: center;
}

.download-links {
  text-decoration: underline;
}

.guidlines-list {
  font-size: 1.5rem;
}

.card-header > h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  @media(max-width:800px) {
        font-size: 0.8rem !important;
    }
}


.card-body>h5{
  font-size: 1.2rem;
  @media(max-width: 800px){
    font-size: 0.9rem;
  }
}

#youtube-note {
  color: Chocolate !important;
  text-decoration: underline;
}
